<div class="container">
    <div class="articles">
        <div *ngFor="let post of posts" class="article">
            <mat-card class="card">
                <mat-card-header class="card__header">
                    <mat-card-title>{{post.name}}</mat-card-title>
                    <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="card__content">
                    <mat-card-subtitle>{{post.bodyBrief}}</mat-card-subtitle>
                </mat-card-content>
                <div class="card__footer">
                    <mat-card-actions>
                        <button [routerLink]="['/articles', post.id]" mat-button>OPEN</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>



<!-- <div class="container">
    <mat-grid-list cols="3"  [gutterSize]="'20px'">
        <mat-grid-tile *ngFor="let post of posts">
            <mat-card class="article2">
                <div class="article">
                    <mat-card-header>
                        <mat-card-title>{{post.name}}</mat-card-title>
                        <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card-subtitle>{{post.bodyBrief}}</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>OPEN</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->