<mat-tab-group *ngIf="!ongoingTraining">
    <mat-tab label="First">
        <app-new-tranining (xxx)="testEmitter()" (trainingStart)="ongoingTraining = true"></app-new-tranining>
    </mat-tab>
    <mat-tab label="Second"> 
        <!-- <app-current-tranining></app-current-tranining>    -->
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<app-current-tranining (trainingExit)="ongoingTraining = false" *ngIf="ongoingTraining"></app-current-tranining>  

<!-- <div class="home" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <h1>ACTIVITY</h1>
        <p>Stay active and enjoy better health and more fun!</p>
    </section>
    <section>
        <h1>COMMUNITY</h1>
        <p>Get to know other people who share your passion!</p>
    </section>
    <section>
        <h1>CHALLENGES</h1>
        <p>Never stop! Dive into new challenges every day</p>
    </section>
</div> -->
